@keyframes example{
		from{opacity: 0;}
		to{opacity: 1;}
	}
	.animate{
		animation-name:example;
		animation-duration:1s;
	}
	@keyframes spin{
		0%{transform: rotate(0deg);}
		100%{transform: rotate(360deg);}
	}
	@keyframes example{
		from{opacity: 0;}
		to{opacity: 1;}
	}
	.animate{
		animation-name:example;
		animation-duration:3s;
	}
    	#anim{
		width: 25px;	
		animation: spin 2s linear infinite;
	}
    #loader{
		width: 100vw;
		height: 100vh;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		background: radial-gradient(#00a9ff,#0078D0 );
	}
	#load{
		color:white;
		font-family: 'Montserrat', sans-serif;
	}